<div class="top-bar">
    <%= link_to fa_icon('chevron-left'), students_path %>
    <%= link_to fa_icon('home'), '/' %>
    <%= link_to fa_icon('book'), '/index' %>
</div>
<div class="row align-center">
    <%= render 'form', student: @student %>
</div>
