<li>
<%= form_tag(bids_path, :method => "get", id: "search-form") do %>
</li>
<%= text_field_tag :search, params[:search], placeholder: "bid name" %>
<li>
    <%= submit_tag "Search", :name => nil, class: 'button' %>
</li>
<% end %>

<% if @bids.find_by(title: @search) %>
<% @bids = @bids.where(title: @search) %>
<% end %>
