<div class="top-bar">
<div class="top-bar-left">
    <%= link_to fa_icon('home'), '/' %>
    <%= link_to fa_icon('book'), '/index' %>
    <%= link_to fa_icon('chevron-left'), @service %>
</div>
</div>
<div class="row align-center">

  <%= render 'form', bid: @bid %>

</div>
