<div id="universe">
<h1>Welcome to EDU Exchange!</h1>
<div id="intro-p">
  <div id="education-image"><%= image_tag('education.jpg')%></div>
    <p>Have skills but lacking funds? EDU Exchange is an online community where we allow students to exchange skills instead of cash. Fantastic at Science but suck at Math? Post your skills here and match up with other students in your area to trade your knowledge for theirs.</p>
  </div>
</div>

<div id="home-links">
  <%= link_to 'Schools', schools_path, class: "link-buttons" %>
  <%= link_to 'Students', students_path, class: "link-buttons" %>
  <%= link_to 'Services', services_path, class: "link-buttons" %>
</div>
