<!-- <div class="row align-middle"> -->
        <h1 class="row align-center">Welcome to EDU Exchange!</h1>
        <!-- <div class="row align-center"><%= image_tag('lightbulbs.jpg')%></div> -->
        <div class="row align-center">
            <p>Have skills but lacking funds? EDU Exchange is an online community where we allow students to exchange skills instead of cash. Fantastic at Science but suck at Math? Post your skills here and match up with other students in your area to trade your
                knowledge for theirs.</p>
        </div>
        <div class="row align-center align-spaced">
            <%= link_to 'Schools', schools_path, class: "button" %>
            <%= link_to 'Students', students_path, class: "button" %>
            <%= link_to 'Services', services_path, class: "button" %>
        </div>
<!-- </div> -->
