<div class="row align-around">

    <div class="column small-3">
        <%= render 'schools/table' %>
    </div>

    <div class="column small-3">
        <%= render 'students/table' %>
    </div>

    <div class="column small-3">
        <%= render 'services/table' %>
    </div>

    <div class="column small-3">
        <%= render 'bids/table' %>
    </div>

</div>
