<table class="hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, school %>   <%= link_to fa_icon('pencil'), edit_school_path(school) %>   <%= link_to fa_icon('trash'), school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= school.location %></td>

      </tr>
    <% end %>
  </tbody>
</table>
