/**{
  box-sizing: border-box;
}

#universe {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.flexy {
  display: flex;
  flex-direction: column;
}

.link {
  padding: 0.3em 0 0.9em 0;
  text-align: center;
  font-size: 3em;
}

#index-box {
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 1em;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  color: white;
}

#welcome {
  text-align: center;
  font-size: 3.5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #dfbdfa;
}

#intro-p {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  max-width: 925px;
  margin: auto;
}

#intro-p p{
  font-size: 2em;
  line-height: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
  margin-top: 0;
}

#education-image{
  margin: auto;
}

#home-links {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2.5em;
}
#home-links a{
  color: white;
}

.link-buttons {
  -moz-box-shadow:inset 0px 1px 0px 0px #efdcfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #efdcfb;
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfbdfa), color-stop(1, #bc80ea));
	background:-moz-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background:-webkit-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background:-o-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background:-ms-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfbdfa', endColorstr='#bc80ea',GradientType=0);
	background-color:#dfbdfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.link-buttons:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc80ea), color-stop(1, #dfbdfa));
	background:-moz-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background:-webkit-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background:-o-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background:-ms-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc80ea', endColorstr='#dfbdfa',GradientType=0);
	background-color:#bc80ea;
}
.link-buttons:active {
  position:relative;
	top:1px;
}*/
