/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
  margin-left: 0;
  margin-top: 0;
}

a, a:visited {
  color: #D395E6;
}

.school-nav {
  display: flex;
  justify-content: space-between;
  /*padding: 1em;*/
}
.school-body {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-image: url('chalkboard.jpg');
  height: 100%;
  width: 100%;
}

.school-body h1 {
text-align: center;
font-size: 6em;
}

.school-search {
  padding: 1em;

  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.school-search input {
  height: 41.11px;
}
input#search {
  width: 300px;
}
.school-table {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
}
.school-table a{
  line-height: 1.2em;
}
.school-table th, .school-table td {
  font-size: 2em;
  height: 2em;
  padding: 0 0.5em;
  text-align: center;
}
.school-links {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.school-links a {
  font-size: 2em;
  margin: auto;
  padding: 0.5em;
}
