/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
  margin-left: 0;
  margin-top: 0;
}

a, a:visited {
  color: #660099;
}

#school-nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.school-body {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-image: url('chalkboard.jpg');
  height: 100%;
  width: 100%;
}

.school-body h1 {
text-align: center;
font-size: 6em;
}

.school-contents {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  margin-top: 0;
}

.school-search {
  display: flex;
  justify-content: flex-end;
  /*margin-right: 0;*/
}
.school-table {
  display: flex;
  flex-direction: column;
  /*margin: auto;*/
}
.school-table th, .school-table td {
  font-size: 2em;
  height: 2em;
  width: 2em;
}
.school-links {
  display: flex;
  justify-content: space-between;
  width: 20em;
}
